<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% if page.title %}
    <title>{{ site.title }} - Docs - {{ page.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/docs.css" type="text/css" rel="stylesheet">
    <link href="assets/css/syntax.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link rel="shortcut icon" href="assets/img/favicon.ico">
</head>
<body>
<div class="container">
{% include navbar.html %}

<header class="jumbotron subhead" id="overview">
    <h1>Documentation</h1>
</header>

<section>
{{ content }}
</section>

{% include footer.html %}
</div>

{% include js.html %}
</body>
</html>
